:root {
    --left-panel-width: 300px;
    --bottom-panel-height: 200px;
}

.left-panel, .bottom-panel {
    background: white;
}

.left-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - var(--bottom-panel-height));
    border-right: 3px solid red;
    width: var(--left-panel-width);
}

.bottom-panel {
    position: fixed;
    top: calc(100vh - var(--bottom-panel-height));
    left: 0;
    width: 100vw;
    border-top: 3px solid red;
    height: var(--bottom-panel-height);
}

.primary-content {
    position: fixed;
    top: 5px;
    right: 5px;
    width: calc(100vw - var(--left-panel-width) - 10px);
    height: calc(100vh - var(--bottom-panel-height) - 10px);
    background: green;
    outline: 5px solid orange;
}