:root {
    --left-panel-width: 300px;
    --bottom-panel-height: 200px;
}

.left-panel, .bottom-panel {
    background: white;
}

.left-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - var(--bottom-panel-height));
    border-right: 3px solid red;
    width: var(--left-panel-width);
}

.bottom-panel {
    position: fixed;
    top: calc(100vh - var(--bottom-panel-height));
    left: 0;
    width: 100vw;
    border-top: 3px solid red;
    height: var(--bottom-panel-height);
}